*{
    box-sizing: inherit;
}
body{
    display: block;
    background-color: white;
    margin: 20px;
    font-weight: 400;
    font-family: Roboto,sans-serif;
    color: #747474;
}
p {
    margin: 1.6em 0;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 3;
    background: hsla(0,0%,100%,.98);
    transition: box-shadow .25s ease 0s;

}
.navbar{
    display: flex;
    padding: 1em;
    justify-content: space-between;



}
.main-menu {
    list-style: none;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 2em;
    padding: 5px;
    margin-right: 10px;
}
#current{
    color:#00b39b ;
}
.logo{
    font-size: 35px ;
    font-family: kanit , sans-serif;
}
.logo> a{
    text-decoration: none;
    color:#00b39b;
}
span{
    color:rgb(90, 104, 102);
}
nav>.main-menu>li{
    display: inline-block;
    text-decoration: none;
    justify-content: space-around;
}
nav>.main-menu>li>a{
    
    color: gray;
    text-decoration: none;
    padding: 20px;

}
nav>.main-menu>li>a:hover{
    color: #00b39b;
}
.container{
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    flex-direction: column;
    text-align: center;
}
.img-title{
    padding: 1em;
    margin-top: 4em;
    margin-bottom: 0.5em;
    width: 40px;
    height: 40px;
    justify-self: center;
}
h1{
    font-family:Work Sans, sans-serif;
    color:#00b39b;
    font-size: 2.125rem;
    font-weight: 300;
    letter-spacing: -3px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 20px;

}
h3{
    font-family:Work Sans, sans-serif;
    color:white;
    font-size: 25px;
    font-weight: 300;

}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #00b39b;
}
.description{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    float: left;
    min-height: 1px;
    padding: 50px;
    color:rgba(37, 31, 31, 0.541);
}
.col1{
    width: 50%;
    line-height: 1.75;
}
.col2{
    width: 50%;
    line-height: 1.75;
}
.cards{
    display:flex;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    justify-content: space-around;
    align-content: space-between;
    transform: translate(0);
    padding: 10px;
    opacity: 1;
    margin: 15px;
    
}


.patients{ 
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    align-content:space-around;
    padding: 5px;
    background-color: #00b39b;
    color:white;
    border-radius: 1em;
    width: 280px;
    height: 350px;
    text-align: center;
}
    
.doctors{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    align-content:space-around;
    padding: 5px;
    background-color:royalblue;
    border-radius: 1em;
    width: 280px;
    height: 350px;
    color:white;
    text-align: center;
}
.clinics{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    align-content:space-around;
    padding: 5px;
    background-color:gray;
    border-radius: 1em;
    width: 280px;
    height: 350px;
    color:white;
    text-align: center;

}
.icon{
    color:white;
    height: 30px;
    width: 30px;
}
svg{
    height: 30px;
    width: 30px;
    margin-top: 35px;
}
.clinics>.icon>svg{
    margin-top: 40px;
    height: 25px;
    width: 25px;
}
.choose-country{
    margin-bottom: 35%;
}
#select-bar{
    width: 100%;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 15px;
    outline: 0;
    height: 40px;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}
option{
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    color: #000;
}
.brands{
    width: 100%;
    display: flex;
    justify-content:space-around ;
    flex-direction: row;
}
.greetings{
    margin-left: 50px;
}
.community-logo{
    align-items:center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0;
    list-style: none;
    width: 80%;
    padding-right: 20px;
}
.community-logo .tuotempo img, .community-logo .gipo img, .community-logo .clinic-cloud img, .community-logo .jameda img {
    transition: all .2s ease 0s;
    filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
    opacity: .55;
}


.community-logo>a{
    display: inline-block;
    padding: 5px 0;
}
.community-logo>li{
    font-size: 1rem;
    display: inline-block;
    margin-top: 0;
    padding: 5px 0 5px 5px;
    width: auto;
}
.community-logo a svg{
    opacity: 50%;
    height: 20px;
    width: auto;
    max-width: 100%;
    padding-left: 10px;
}
.community-box>ul>li{
        font-size: 1rem;
        display: inline-block;
        margin-top: 0;
        padding: 5px 0 5px 5px;
        width: auto;
    }

.community-box{
    width: 100%;
    height: 300px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.container-2{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 600px;
    background-color: #DBF7F7;
    background-image:url(https://www.docplanner.com/img/logo.png);
    background-repeat: no-repeat;
    background-attachment:local;
    background-position: bottom left;
    background-size: 450px;
}

.one>h1{
    color:#84B3A8;
    font-size: 30px;
    font-weight: 400;
}
.one>p{
    font-family: roboto,sans-serif;
    color:#7a7474 ;
    font-weight: 400;
    font-size: 14px;

}
.txt>h3{
    color: #84B3A8;
}

.one{
    height: 150px;
    width: 50%;
    margin-top: 2em;
    margin-left: 80px;
}
.cards-2{
    display:grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 100% 100%;
    gap:20px;
    height: 250px;
    padding: 20px;
}

.leader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius:5px;
    padding: 10px;
    transform: translateY(25px);

}

.appointment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius:5px;
    padding: 10px;
}
.our-patient{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius:5px;
    padding: 10px;  
    transform: translateY(25px);

}
.active-doctors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius:5px;
    padding: 10px;
}
.txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.txt>p{
    font-size: 12px;
}
.office-slider{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 250px 250px;
    gap: 10px;
    padding: 10px;
    margin: 10px;
    background: #fff;
    border: 1px solid rgba(0,0,0,.03);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    color: #747474;
}
.office-header{
    max-width: 460px;
    margin: 0 auto 4.1875rem;
    font-size: .875em;
    text-align:center;
}
.office-header>h1{
font-family: work sans,sans-serif;
font-size: 25px;
}
.office-header>p{
    font-family: roboto,arial,sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #7a7474;
}
.office-card{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.office-card>a{
    color: #000;
    background-color: white;
    text-decoration: none;
}
.btn{
    background-color: royalblue;
    border-radius: 5px;
    color: #fff;
    border:white;
}
.office-image{
    padding: 10px;
    margin: 10px;
    height: 170px;
    width: 100px;

}
.office-desc {
    align-self: flex-end;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.6666666667;
    padding: 1.1111111111em;
    text-decoration: none;
    position:relative;
}
.join-us{
    margin: 5rem auto;
    display:block;
}
.join-us>h1{
    margin-left: 12em;
    color: #000;
    font-weight: 300;
}
.join-us>.join-us-btn{
    margin-left: 37em;
    background-color: royalblue;
    border-radius: 4px;
    border: #fff;
    color: #fff;
    height: 40px;
    text-transform: uppercase;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #B3B3C9;
    display: inline-block ;
    justify-content:center;
    align-items: center;
}
.links{
    margin-left: 25em;
}
.coockies{
    margin-left: 15em;
}
.our-website{
    margin-left: 40em;
}
.footer>p>a{
    text-decoration: none;
    color: royalblue;

}
